@import "./base.css";

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  :focus {
    outline: 2px solid var(--vue-color-secondary);
    border-radius: 2px;
    outline-offset: 2px;
  }
}

@media (max-width: 768px) {
  #app {
    grid-template-rows: 4rem 1fr 4rem;
  }
}

@media (max-width: 480px) {
  #app {
    grid-template-rows: 3rem 1fr 3rem;
  }
}
