name: 'CI/CD: Test and Deploy to GCP'

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PROJECT_ID: 'prevue-md'
  REGION: 'us-central1'
  SERVICE: 'prevuemd'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Run unit tests
        run: pnpm test:unit

      - name: Upload unit tests coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
              github-token: ${{ secrets.GITHUB_TOKEN }}
              path-to-lcov: coverage/lcov.info

      - name: Run E2E tests
        run: pnpm test:e2e

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: success()
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Docker Auth
        uses: docker/login-action@v3
        with:
          username: _json_key
          password: '${{ secrets.GCP_SA_KEY }}'
          registry: 'gcr.io'

      - name: Build and Push Container
        run: |
          DOCKER_TAG="gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{ github.sha }}"
          docker build --tag "${DOCKER_TAG}" .
          docker push "${DOCKER_TAG}"

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: '${{ env.SERVICE }}'
          region: '${{ env.REGION }}'
          image: 'gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{ github.sha }}'

      - name: Show deployment URL
        run: echo ${{ steps.deploy.outputs.url }}
